<div class="panel panel-default">
    <div class="panel-heading" style="font-size:large">
    </div>

    <div class="panel-body">
        <div class="form-group">
            <label for="comment">Notes:</label>
            <textarea class="form-control" rows="5" style="max-width:80%">{{item.value.notes}}</textarea>
        </div>
        <div class="row">
            <a class="btn btn-default"
               ui-sref="Cards"
               style="width:80px">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Back
            </a>
        </div>
    </div>

    <div class="panel-footer">
    </div>

</div>
