<div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
        <h3></h3>
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-divider"></li>
            <li> <a ui-sref="#/">Home<i class="fa fa-home fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ui-sref="Cards">Cards<i class="fa fa-users fa-fw pull-right"></i></a></li>
            <li><a ui-sref="addCard">Add a Businesscard<i class="fa fa-user-plus fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ui-sref="searchCard">Search for a Businesscard<i class="fa fa-user-plus fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
        </ul>
    </div>
</div>

