<html ng-app="businesscardModule">
<head>
    <title></title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>

    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/app.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/Cards")
</head>
<body>
    @RenderBody()
</body>
</html>