@{
    ViewBag.Title = "Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<top-bar></top-bar>
<ul>
</ul>
<div class="row-offcanvas row-offcanvas-left">
    <hr />
    <hr />
    <side-bar></side-bar>
    <div ui-view></div>
</div>

